<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="https://res.cloudinary.com/dq2rp5tzx/image/upload/v1543254545/BigChurch2.jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="https://res.cloudinary.com/dq2rp5tzx/image/upload/v1543254545/pastor2.jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="https://res.cloudinary.com/dq2rp5tzx/image/upload/v1543254545/cross2.jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
