<br>
<h4 style="text-align: center;">Directions</h4>
<p style="text-align: center;">
4650 Veterans Parkway
Columbus, GA 31904</p>
<div class="row">
  <div class="col-md-6">
    <app-direct-forms></app-direct-forms>
  </div>
  <div class="col-md-6">
    <app-map></app-map>
  </div>
</div>