<div class="container">
    <agm-map 
    [latitude]="lat" 
    [longitude]="lng"
    [zoom]="zoom">
      <agm-direction
      [origin]="origin"
      [destination]="destination"></agm-direction>
    </agm-map>
</div>
