<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="directForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <input
          type="text"
          placeholder="Street Address"
          id="address"
          formControlName="address"
          class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="City"
            id="city"
            formControlName="city"
            class="form-control">
        </div>
        <div class="col-sm-4">
          <input
            type="text"
            placeholder="State"
            id="state"
            formControlName="state"
            class="form-control">
        </div>
        <div class="col-sm-4">
          <input
            type="number"
            placeholder="Zipcode"
            id="zip"
            formControlName="zip"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button 
          class="btn btn-primary"
          type="submit">Give Me Directions</button>
        </div>
      </div>
      <div 
      id="directionList"
      class="panel panel-primary">
      </div>  
    </form>
  </div>
</div>